/* Colors */
body {
  font: Arial, Helvetica, sans-serif; }

.hide {
  display: none; }

.container {
  width: 68vw; }
  @media (max-width: 767px) {
    .container {
      width: 95vw; } }

section {
  margin: 10px auto; }

#nav-cerco, #nav-cerco li a, .menu-cerco {
  text-transform: uppercase;
  color: #fff;
  font-weight: 600;
  font-size: 13px; }

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
  background-color: #319ACF; }

.label-primary {
  background-color: #319ACF; }

.text-primary {
  color: #319ACF; }

a {
  color: #319ACF; }

#nav-cerco {
  background-color: #319ACF;
  height: 50px;
  padding: 0px;
  z-index: 9999;
  margin: auto;
  display: block;
  width: 100%; }
  #nav-cerco li:hover {
    background-color: #319ACF; }
  #nav-cerco .navbar-right li:hover {
    background-color: #319ACF; }
    #nav-cerco .navbar-right li:hover a {
      background-color: #5aaed9; }
  #nav-cerco .navbar-toggle {
    background: #d9edf7;
    margin-right: 22px; }
    #nav-cerco .navbar-toggle .icon-bar {
      background-color: gray; }
  @media (max-width: 640px) {
    #nav-cerco {
      position: fixed;
      top: 0px;
      height: auto;
      background-color: #319ACF;
      z-index: 9999;
      text-align: center; } }

#nav-responsive {
  background-color: #319ACF;
  margin: auto; }

.menu-cerco {
  padding: 0px 15px;
  height: 46px;
  border-bottom: 4px solid #319ACF;
  z-index: 9999; }
  @media (max-width: 640px) {
    .menu-cerco {
      height: auto;
      background-color: #319ACF;
      z-index: 9999; } }
  .menu-cerco ul li {
    text-align: center; }
    .menu-cerco ul li:hover {
      background-color: #319ACF; }
      .menu-cerco ul li:hover a {
        border-bottom: 4px solid #fff; }
    .menu-cerco ul li:active a {
      background-color: #319ACF; }
    .menu-cerco ul li a {
      color: #fff;
      padding: 10px 10px;
      height: auto; }
      .menu-cerco ul li a:hover {
        background-color: #319ACF; }
  .menu-cerco .navbar-main {
    padding: 5px 0px;
    margin: auto; }

/*menu fixed*/
.f-nav {
  position: fixed;
  top: 0px; }

#form-wrapper {
  margin-top: 30px; }
  #form-wrapper .panel {
    padding: 0px 0px 15px 0px; }
    @media (max-width: 767px) {
      #form-wrapper .panel {
        padding: 10px; } }
  #form-wrapper .row {
    margin-top: 15px; }

#color-wrap {
  background-color: #5aaed9;
  height: 260px; }

#ventajas-wrap {
  padding: 15px 0px; }
  #ventajas-wrap .box-vn {
    text-align: center; }

.video-section {
  height: 25vw;
  overflow: hidden; }
  .video-section .pattern-overlay {
    background-color: rgba(71, 71, 71, 0.59);
    padding: 110px 0 32px;
    min-height: 496px;
    /* Incase of overlay problems just increase the min-height*/ }
  .video-section h1 {
    text-align: center;
    color: #fff;
    font-size: 50px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 10px auto 0px;
    text-shadow: 1px 1px 1px #000;
    -webkit-text-shadow: 1px 1px 1px #000;
    -moz-text-shadow: 1px 1px 1px #000; }
  .video-section h3 {
    text-align: center;
    color: #fff;
    font-size: 25px;
    font-weight: lighter;
    margin: 0px auto 15px; }
  .video-section .buttonBar {
    display: none; }

.player {
  font-size: 1px; }

#publi-wrap {
  position: absolute;
  top: 22vw;
  right: 5px; }
  #publi-wrap .publi-item {
    margin-top: 10px; }

footer {
  background-color: #319ACF;
  padding: 20px 0px; }
  footer .fot-box {
    max-height: 80px;
    overflow: hidden;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 10px; }

#list-sect .list-wrap {
  margin-top: 10px; }
  #list-sect .list-wrap h5 {
    font-weight: 600; }
  #list-sect .list-wrap em {
    font-size: 0.9em; }
  #list-sect .list-wrap img {
    max-width: 180px; }
