$font-stack: Arial, Helvetica, sans-serif;

/* Colors */
$font-white: #fff;
$font-text: #1d1b1b;
$nav-color: #319ACF;
$font-bold: 600;

//size
$font-nav: 13px;

body {
    font: $font-stack;
}
.hide{
    display:none;
}
.container {
    width:68vw;
    @media (max-width: 767px){
        width: 95vw;
    }

}

section {
    margin: 10px auto;
}

%text-nav {
    text-transform: uppercase;
    color: $font-white;
    font-weight: $font-bold;
    font-size: $font-nav;
}
//bootstrap cambios 
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover{
    background-color:$nav-color;
}
.label-primary{
    background-color:$nav-color;
}
.text-primary{
    color: $nav-color;
}
a{
    color: $nav-color;
}

//menu cerco casa
#nav-cerco {
    background-color: $nav-color;
    height: 50px;
    padding: 0px;
    z-index: 9999;
    margin: auto;
    display: block;
    width: 100%;
    @extend %text-nav;

    li {
        &:hover {
            background-color: $nav-color;
        }

        a {
            @extend %text-nav;
        }
    }

    .navbar-right {
        li {
            &:hover {
                background-color: $nav-color;

                a {
                    background-color: lighten( $nav-color, 10% );
                }
            }
        }
    }
    .navbar-toggle{
        background:#d9edf7;
        margin-right: 22px;
        .icon-bar{
            background-color:gray;
        }
    }
     @media (max-width: 640px){
       position:fixed;
       top:0px;
       height: auto;
        background-color:$nav-color;
        z-index:9999;
        text-align:center;
    }
    
}
#nav-responsive{
        background-color:$nav-color;
        margin:auto;
    }

.menu-cerco {
    padding: 0px 15px;
    height: 46px;
    border-bottom: 4px solid $nav-color;
    z-index: 9999;
    @extend %text-nav;

     @media (max-width: 640px){
        height: auto;
         background-color:$nav-color;
         z-index:9999;
    }

    ul {
        li {
            text-align: center;

            &:hover {
                background-color: $nav-color;

                a {
                    border-bottom: 4px solid #fff;
                }
            }

            &:active {
                a {
                    background-color: $nav-color;
                }
            }

            a {
                color: $font-white;
                padding: 10px 10px;
                height: auto;

                &:hover {
                    background-color: $nav-color;
                }
            }
        }
    }
    
    .navbar-main {
        padding: 5px 0px;
        margin: auto;        
    }
}

/*menu fixed*/
.f-nav{    
    position: fixed;
    top: 0px;    
}
//formulario busqueda
#form-wrapper {
    margin-top: 30px;

    .panel {
        padding:0px 0px 15px 0px;

        @media (max-width: 767px){
            padding:10px;
        }
    }

    .row {
        margin-top: 15px;
    }
    
}
//section color
#color-wrap {
    background-color: lighten( $nav-color, 10% );
    height: 260px;
}
//wrap ventajas
#ventajas-wrap {
    padding: 15px 0px;

    .box-vn {
        text-align: center;
    }
}
//video section
.video-section {
    height: 25vw; 
    overflow: hidden;
    .pattern-overlay {
        background-color: rgba(71, 71, 71, 0.59);
        padding: 110px 0 32px;
        min-height: 496px;
        /* Incase of overlay problems just increase the min-height*/
    }

    h1 {
        text-align: center;
        color: #fff;
        font-size: 50px;
        font-weight: bold;
        text-transform: uppercase;
        margin: 10px auto 0px;
        text-shadow: 1px 1px 1px #000;
        -webkit-text-shadow: 1px 1px 1px #000;
        -moz-text-shadow: 1px 1px 1px #000;
    }

    h3 {
        text-align: center;
        color: #fff;
        font-size: 25px;
        font-weight: lighter;
        margin: 0px auto 15px;
    }

    .buttonBar {
        display: none;
    }
}

.player {
    font-size: 1px;
}
// publicidad
#publi-wrap{
    position:absolute;
    top: 22vw;
    right: 5px;
    .publi-item{
        margin-top: 10px;
    }
}
//footer
footer{
    background-color:$nav-color;
    padding:20px 0px;
    .fot-box{
        max-height: 80px;
        overflow: hidden;
        text-align: center;
        margin-top:5px;
        margin-bottom: 10px;
    }
}
//listado pag 

    //list wrap 
    #list-sect{
        .list-wrap{
            margin-top: 10px;
            h5{
                font-weight: $font-bold;
            }
            em{
                font-size: 0.9em;
            }
            img{
                max-width: 180px;
            }
        }
    }